@{
    ViewBag.Title = "About page";
}

<div class="container">
    <h2 class="display-4">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>


</div>

@for (int i = 0; i < 8; i++)
{

    <br></br>

}