
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h1>

        News page
    </h1>

    <p>this is my id : @ViewBag.infomation.id</p>
    <p>this is my name is : @ViewBag.infomation.name</p>
    @ViewData["json"]
   

</body>
</html>
