
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h1 style="color: red;">News page</h1>
   <b> id : </b><p>@ViewBag.infomation.id</p>
     <b>name :</b><p>@ViewBag.infomation.name</p>

@for (int i = 0; i < 10; i++)
{
    <br></br>

}