@model Web_Profile_VS2019.Models.documentation
@{
    ViewBag.Title = "Documentation page";
}

<div class="container">

    <h1 class="display-4">
        @ViewBag.Title

    </h1>

    <p>
        @Model.text
        @ViewData["id"]
        @ViewData["name"]
    </p>

</div>


@for (int i = 0; i < 8; i++)
{

    <br></br>

}
