
@{
    ViewBag.Title = "Documentation page";
}

<div class="container">

    <h1 class="display-4">
        @ViewBag.Title

    </h1>
    <p>@ViewBag.documentation.text</p>
    <p>

        @ViewData["id"]
        @ViewData["name"]
    </p>

</div>


@for (int i = 0; i < 8; i++)
{

    <br></br>

}
