<!DOCTYPE html>
<html>
<head>
    @model Web_Profile_VS2019.Models.infomation
    @model Web_Profile_VS2019.Models.documentation
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
