@{
    ViewBag.Title = "News page";

<div class="container">
  <h1 class="display-4">
    @ViewBag.Title
  </h1>
  <p>@ViewBag.documentation.text</p>
    <div style="color: red;">
        <form action="/News">
            <label for="id">id : </label>
            <input type="text" name="id"><br><br>
            <input type="submit" value="Submit"><br><br>
        </form>
    </div>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Fullname</th>
        </tr>
            <tr>@{ 

                for (int iii = 0; iii < ViewBag.data.Count; iii++){

                    <td>
                        @ViewBag.Default
                        @ViewBag.data[iii]
                    </td>
                }
            }
            </tr>
    </table>
</div>

    for (int i = 0; i < 10; i++) {

        <br>

    }
}