@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy page";
}



<div class="text-center">


    <h1 style="color:red;">@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>





</div>





















