@{
    ViewData["Title"] = "About page";
    
}


<h1 style="color: red;">@ViewData["Title"]</h1>

        <br>

    <div class="text-content">
         <b>
            @ViewData["Message"]
         </b>
         <br><br/>
         <p>Use this page to detail your site's privacy policy.</p>
        </div>

            @for (int i = 0; i < 6; i++)
            {
                <br></br>

            }
            <b>
            Learn about
            <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
        </b>
       
       
 

















