@{
    ViewData["Title"] = "About page";
    
}


<h1 class="display-4">@ViewData["Title"]</h1>

<div class="about_api_error"></div>

<div class="block-content">
    <p>Use this page to detail your site's privacy policy.</p>

    <p>@ViewData["json"]</p>

    <b>
        @ViewData["Message"]
    </b>
    <br>
    <br />

    Learn about
    <a style="color: white;" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.


</div>

   <div class="api-about">




   </div>





       
       
 

















