@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color: red;" class="display-4">Home page</h1>
        <div class="list_api">
            </div>
        <div class="list_api_error">
    </div>
    <br></br>  
        <br></br>  
            <br></br>
                <br></br>  
            <b>Learn about
          <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </b>
</div>
























